[Unit]
Description=Go Server
#  /etc/systemd/system/<filename>.service

[Service]
ExecStart=/bin/srvctl
WorkingDirectory=/etc/srvctl
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target