[Unit]
Description=Go SrvCtl Server
#  /etc/systemd/system/<filename>.service

[Service]
Environment=PORT=88
ExecStart=/etc/srvctl/srvctl -c /etc/srvctl/srvctl.yml
WorkingDirectory=/etc/srvctl
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target