<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">   
    <title>My Nas server</title>
</head>
<body>
<h2>Welcome to Nas server!</h2>

<a href="/" style="margin-right: 20px;">Home sweet home!</a><br><br>

{{/* {{range $key, $val := .}}
<a href={{$key}} style="margin-right: 20px;">{{$key}}</a><br>
{{end}} */}}

{{range $key, $val := .}}
    <form>
      <input type="button" onclick="window.location.href={{$key}};" value={{$key}} />
    </form>
<br>
{{end}}

</body>
</html>
