<!DOCTYPE html>
<html lang="en">
<link href="style.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">   
    <title>My Nas server</title>
</head>
<body>
<h2>Welcome to Nas server!</h2>


<table>
{{range $key, $val := .}}

{{/* <tr><td>{{$key}}</td><td>{{$val}}</td></tr>  */}}

  <form action={{$val}}>
    <input type="submit" value={{$key}}>

{{end}}


</table>

</body>
</html>
